html,
body {
    height: 100%;
    margin: 0;
}
html {
    --amountRows: 4;
    --percentageRows: 20%;
    --amountColumns: 4;
    --percentageColumns: 21%;
}
body {
    color: #3b3b3c;
    font-family: 'Roboto', serif;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    background-image: url(./img/wall.png);
}
section.memory {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 90vh
}
.memory__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.memory__panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40%;
    height: 75vh;
    margin-top: 5rem;
}
.memory__mainTitle {
    background: #fd4138;
    padding: 5px 50px;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 5px;
    color: #fff;
    width: 70%;
    margin-left: 15%;   
}
p.memory__lead {
    font-family: 'BebasNeueRegular';
    font-size: 5rem;
    color: #fd4138;
    margin-top: 2rem;
}
section.memory .button,
section.memory button {
    padding: .5rem 2rem;
    background: rgba(255, 255, 255, 0);
    border: solid grey 0.2vmin;
    color: #3b3b3c;
    border-radius: 0.5vmin;
    cursor: pointer;
    transition: background 0.3s ease-out;
    text-decoration: none;
    text-transform: uppercase;
}
section.memory .button:focus,
section.memory button:focus {
    outline: none;
}
section.memory .button:hover,
section.memory button:hover {
    border-color: #FD4138; 
    color: #FD4138;
}
.memory--started .memory__field {
    animation: STARTINGANIMATION 0.5s linear forwards;
}
.memory--started .memory__field:nth-child(2n+2) {
    animation: STARTINGANIMATION2 0.5s linear forwards;
}
.memory--started .memory__card {
    cursor: pointer;
}
.memory__message {
    position: fixed;
    left: 12%;
    top: 10%;
    width: 32%;
    height: 70%;
    background: #1c1c1c;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.memory__message h1:first-of-type {
    margin-top: 0;
    margin-bottom: 4rem;
    color: #fff;
}
.memory__closeMessage {
    position: absolute;
    left: 2vmin;
    top: 2vmin;
    padding: 1vmin 1.3vmin 1.3vmin;
    color: #fff !important;
    font-weight: bold;
}
.memory__grid {
    position:relative;
    top: 19.5%;
    left: 8%;
    width: 60vmin;
    height: 60vmin;
    display: grid;
    grid-template-columns: repeat(var(--amountColumns), var(--percentageColumns));
    grid-template-rows: repeat(var(--amountRows), var(--percentageRows));
}
.memory__wardrobe {
    background-image: url(img/wardrobe.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2rem;
}
.memory__field {
    position: relative;
    transition: transform 0.5s ease-out, opacity 1s ease-out;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.memory__field:nth-child(1) {
    animation-delay: 0s;
}
.memory__field:nth-child(2n + 3),
.memory__field:nth-child(2) {
    animation-delay: 0.015s;
}
.memory__field:nth-child(3n + 3),
.memory__field:nth-child(3) {
    animation-delay: 0.03s;
}
.memory__field:nth-child(4n + 3),
.memory__field:nth-child(4) {
    animation-delay: 0.045s;
}
.memory__field--clicked .memory__card,
.memory__field--matched .memory__card {
    cursor: default;
    transform: rotateY(0);
}
.memory__field--matched {
    opacity: 0.5;
}
.memory__field--0 .memory__face--front {
    background-image: url(img/img_1.jpg);
}
.memory__field--1 .memory__face--front {
    background-image: url(img/img_2.jpg);
}
.memory__field--2 .memory__face--front {
    background-image: url(img/img_3.jpg);
}
.memory__field--3 .memory__face--front {
    background-image: url(img/img_4.jpg);
}
.memory__field--4 .memory__face--front {
    background-image: url(img/img_5.jpg);
}
.memory__field--5 .memory__face--front {
    background-image: url(img/img_6.jpg);
}
.memory__field--6 .memory__face--front {
    background-image: url(img/img_7.jpg);
}
.memory__field--7 .memory__face--front {
    background-image: url(img/img_8.jpg);
}
.memory__timer {
    font-size: 5vmin;
    margin: 2rem 0 1rem;
}
.memory__card {
    position: absolute;
    width: 80%;
    height: 80%;
    transform-origin: center;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 0.5s ease-out;
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
}
.memory__face {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 10%;
    overflow: hidden;
}
.memory__face--front {
    position: relative;
    background: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.memory__face--back {
    background-image: url("./img/vencaSmall.png");
    transform: rotateY(180deg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
.memory__face--back:before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: solid 1vmin #ededed;
    border-radius: 25%;
}

@keyframes STARTINGANIMATION {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes STARTINGANIMATION2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .button,
    button {
        font-size: 5vmin;
        padding: 3vmin 4vmin 1.5vmin;
        border: solid #e3e3e3 0.2vmin;
    }
    span.moreGames {
        display: block;
        margin-top: -20px;
    }
    section.memory .w80, section.memory .w50 {
        width: 100% !important;
    }
    section.memory .voffset5 {
        margin-top: 0;
    }
    section.memory .mb-my-0{
        margin: 20px 0 40px;
    }
    section.memory {
        width: 100%;
        align-items: center;
        margin: 0;
        height: auto;
    }
    .memory__message {
        top: 0;
        left: 0;
        width: 100vmin;
        height: 100vmax;
    }
    .memory__closeMessage {
        top: 3vmin;
        left: 86vmin;
        padding: 2vmin 4vmin;
    }
    .memory__panel {
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 27vh;
    }
    .memory__stats {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p.memory__lead {
        font-size: 4rem;
        color: #fd4138;
        margin: 0;
    }
    .memory__timer {
        position: absolute;
        top: 40%;
        margin: 0;
        font-size: 7vmin;
        font-weight: bold;
        color: #fff;
    }
    .mbPosition {
        position: absolute;
        bottom: -24%;
    }
    .endText {
        display: block;
        width: 80%;
        margin: auto;
        font-size: 1.75rem;
        font-weight: bold;
    }
    .memory__grid {
        width: 92vmin;
        height: 92vmin;
    }
    .memory--started .memory__field {
        border-radius: 10%;
    }
    .memory--started .memory__field:nth-child(2n+2) {
        animation-name: STARTINGANIMATION;
    }
    .memory__wardrobe {
        margin-top: 0;
        width: 100%;
        height: 455px;
    }

    @keyframes STARTINGANIMATION {
        0% {
            background-color: rgba(255, 255, 255, 0);
        }

        25% {
            background-color: rgba(255, 255, 255, 0.25);
        }

        75% {
            background-color: rgba(255, 255, 255, 0);
        }

        100% {
            background-color: rgba(255, 255, 255, 0);
        }
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
    .memory__message {
        top: 0;
        left: 0;
        width: 100vmin;
        height: 100vmax;
    }
    .memory__closeMessage {
        top: 3vmin;
        left: 86vmin;
        padding: 2vmin 4vmin;
    }
    .memory__panel {
       width: 100%;
       height: 20vh;
       margin-top: 0;
    }
    .memory__wardrobe {
        height: 600px;
        margin-top: 0;
    }
    p.memory__lead {
        margin-top: 0;
    }
    .memory__vclogo {
        margin-bottom: 3vmin;
    }
    .memory__tries {
        margin-bottom: 2rem;
    }
    .mbPosition {
        position: absolute;
        bottom: -4%;
        left: 25%;
    } 
    section.memory .w50 {
        width: 100% !important;
    }
    .memory__timer {
        position: absolute;
        top: 33.5%;
        left: 44%;
        margin: 0;
        font-size: 5vmin;
        font-weight: bold;
        color: #fff;
    }
    .memory__button {
        margin-top: 2rem;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
    .memory__grid {
        width: 60vmin;
        height: 60vmin;
    }
    .memory__message {
        top: 0;
        left: 0;
        width: 100vmax;
        height: 100vmin;
    }
    .memory__closeMessage {
        top: 3vmin;
        left: 91vmax;
        padding: 2vmin 4vmin;
    }
}